*{
  font-family: 'Muli', sans-serif;
}

#header-wrapper{
  padding: 1px 0% 11px 0%;
  background-color:navajowhite;
  margin-bottom:25px;
  -webkit-box-shadow: 0 2px 10px #999, 0 2px 10px #999;
    box-shadow: 0 2px 10px #999, 0 2px 10px #999;
}

#search-box{
  width:80%;
  margin:0 auto;
  text-align:center
}